.root {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.card {
  width: 20rem;
}

.card__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
