:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: var(--c-text-main);

  // variables =================
  // colors =============
  --c-primary: #4ecdc4;
  --c-text-main: #3a4953;

  --c-gray-50: #efefef;
  --c-gray-100: #d1d1d1;
  --c-gray-200: #b4b4b4;
  --c-gray-300: #969696;
  --c-gray-400: #797979;
  --c-gray-500: #5b5b5b;
  --c-gray-600: #3e3e3e;
  --c-gray-700: #202020;
  --c-gray-800: #1a1a1a;
  --c-gray-900: #141414;

  --c-cyan-50: #e0f7fa;
  --c-cyan-100: #b3ecec;
  --c-cyan-200: #80e0e3;
  --c-cyan-300: #4dd2d9;
  --c-cyan-400: #26c7ce;
  --c-cyan-500: #4ecdc4;
  --c-cyan-600: #00a5a5;
  --c-cyan-700: #008e8e;
  --c-cyan-800: #007676;
  --c-cyan-900: #005959;

  // radius =============
  --radius-sm: 8px;
  --radius-md: 16px;
  --radius-lg: 24px;

  // shadows =============
  --shadow-light: 0 5px 15px rgba(0, 0, 0, 0.1);
  --shadow-dark: 0 5px 15px rgba(0, 0, 0, 0.2);

  // typography =============
  --font-size-base: 16px;
  --font-size-sm: 12px;
  --font-size-md: 20px;
  --font-size-lg: 24px;
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  // spacing =============
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;

  // breakpoints =============
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

h1,
h2,
h3,
h4,
p,
span {
  font-weight: var(--font-weight-normal);
}
